<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDna.Interop" version="14.0.1" targetFramework="net472" />
  <package id="Interop.Microsoft.Office.Interop.Word.PieroViano" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Office.Excel" version="14.0.4760.1000" targetFramework="net472" />
</packages>